span.name {
  font-size: 22px !important;
}

span.points {
  width: 30px !important;
  height: 25px !important;
  background-color: rgb(255, 0, 132) !important;
}

#points-0  {
  font-size: 18px !important;
}
/* #points-1  {
  font-size: 18px !important;
}
#points-2  {
  font-size: 18px !important;
}
#points-3  {
  font-size: 18px !important;
}
#points-4  {
  font-size: 18px !important;
}
#points-5  {
  font-size: 18px !important;
}
#points-6  {
  font-size: 18px !important;
} */

span.score {
  font-size: 22px !important;
}
